{{#each toDoData as |todo|}}
<div class=" field is-flex-direction-row has-addons has-addons-centered" >
    <p class="control is-fullwidth">
        <label class="checkbox" >
            <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
        </label>
    </p>
    <p class="control">
        <div class=" is-fullwidth input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; '>
            <p>{{todo.todo_item}}</p>
        </div>
    </p>
    <p class="control">
        <a class="button has-background-danger remove" style='width: 70px'>
            <img src="public/images/remove.png" style="width:25px;height:25px;" />
        </a>
    </p>
</div>
{{/each}}
