<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Log</title>
    <!-- Uncomment this line to use the reset included  -->
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="icon" href="/images/logoFiller.png" type="image/icon type" />

    <!-- Add CSS Framework Link Here  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
      integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm"
      crossorigin="anonymous"
    />


    <!-- Load fonts here -->
  </head>
  <body class="has-backgroud-info" style="background-color: #edda84" >
    <section class="hero is-primary is-small has-text-dark" style="height:300px">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <span class="navbar-burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a href="/" class="navbar-item is-active is-size-4">
                    Home
                  </a>
                  {{#if loggedIn}}
                  <a href="/settings" class="navbar-item is-size-4" id="logout-buttonMain">
                    Logout
                  </a>
                   <script src="/js/logoutButton.js"></script>
                  {{else}}
                  <a href="/login" class="navbar-item is-size-4">
                    Login
                  </a>
                  {{/if}}
                  <a href="/settings" class="navbar-item is-size-4">
                    Settings
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body ">
          <div class="container has-text-centered">
            <div class="columns is-centered">
                <figure class="image is-128x128 is-align-items-center is-flex-wrap-wrap">
                    <img class="is-rounded" src="/images/logoFiller.png" />
                </figure>
            </div>
            <p class="title is-size-1 has-text-dark">
              Life Log
            </p>
            <p class="subtitle is-size-4 has-text-grey-dark">
                Live. Laugh. Life Log.
            </p>
          </div>
          <p id="date-time" class="has-text-left is-size-3" style="position:relative; left:20px; top:-280px;">
          </p>
        </div>
      </section>

    <main class="section is-vcentered">
        {{{ body }}}
      </main>

    <!-- Page Footer -->
    <footer class="footer p-4" style="background-color: #00d1b2">
        <div class="content is-primary has-text-centered m-0 p-0 ">
            <p>Thank you for using Life Log!<br> ©2023 Project2.Group1. | All Rights Reserved <br> Made with love by Emma Paris❤️, Liza Parr❤️, Joseph Reis💅, Tatiana Castro💃🏽, David Keim❤️, and Shannya Niveyro🐼.</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"></script>

    <script src="/js/main.js"></script>
       {{> home-modal}}
    
  </body>
</html>