{{#if loggedIn}}

{{!-- <link href="https://image-charts.com/chart
?cht=pd
&chd=t:10,40,45
&chs=700x100
chdl=Expansion|Payroll|Equipment
chli=95K€
chl=10K€|40K€|45K€"/> --}}
<div class="columns">
            <div class="column is-one-third card mr-3" style="min-height: 70vh">
                <header class="card-header is-size-2" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Today's To Dos</strong>
                </header>
                  <div class="card-content">
                  <div class="content">
                        {{#if hastoDos }}
                             {{> todo-item}}
                        {{/if}}
                              <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter to-do." id="new-todo-input">
                                </p>
                                <p class="control">
                                  <a class="button has-background-primary add" style='width: 70px' id="submit-todo-button">
                                        <img src="/images/add.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>
                  </div>
                </div>
              </div>
            <div class="column card">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                      <strong>Expansion</strong>
                      <button class="js-modal-trigger button mt-1 has-background-primary settings" data-target="modal-js-example" style='width: 70px; border:none'>
                        <img src="/images/gear.png" style="width:25px;height:25px;" />
                      </button>
                </header>
                <div class="card-content">
                    <br>
                  <div class="content">
                   {{#if hasNotes }}
                             {{> note-item}}
                        {{/if}}
                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter note." id="new-note-input">
                      </p>
                      <p class="control">
                        <a class="button has-background-primary remove {{currentNote}}" style='width: 70px' id="submit-note-button">
                              <img src="/images/add.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="column card ml-3">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Progress Tracker</strong> 
                </header>
                  <div class="card-content">
                <div class="content">
                <p class="is-size-3 has-text-centered"> <strong>Congratulations!</strong> <br> You're almost there!</p>
                 <figure class="image is-256x256 is-align-items-center is-flex-wrap-wrap">
                {{!-- <img src="/images/koot.png" class= "is-rounded" /> --}}
                <img src="https://image-charts.com/chart
?cht=pd
&chs=600x600
&chd=t:{{chartCHD}}
&chl={{chartCHL}}
&chlps=font.size,23
&chf=ps0-0,lg,45,ffeb3b,0.2,f44336,1|ps0-1,lg,45,8bc34a,0.2,009688,1" alt="Pie Chart">
                  </figure>
                  {{!-- <button class="button is-primary is-size-5 is-fullwidth has-text-dark">View Past Progress</button> --}}
                </div>
            </div>
            </div>
          </div>
{{else}}
     <section class="columns card has-background-primary-light m-5 p-5 ">
      <div class="column is-one-third ">
        <figure class="m-3 image is-flex-wrap-wrap">
           <img class="is-rounded"  src="/images/welcome.png" /> 
        </figure>
      </div>
      <div class="column p-5 is-one-half is-vcentered" >
        <p class=" p-5">
          <p class=" has-text-centered">
            <h1 class="card-header has-background-warning-light is-size-1 is-centered p-3 title has-text-dark">Welcome</h1>
          </p>
           <h2 class="subtitle is-centered has-text-centered m-5 p-5 is-size-3 ">
            If you already have an account with us, <strong>log in</strong> or <strong>sign up</strong> and begin to log your life!
          </h2>
        </p>
        <div class="buttons is-centered">
          <button id = 'logInButton' class="button is-size-4 has-background-warning-light ">Log In</button>
          <button  id = 'signUpButton' class="button  is-size-4 has-background-warning-light">Sign Up</button>
        </div>
      </div>
     </section>
 {{/if}}
  <script src="/js/home.js"></script>
  <script src="/js/createTodo.js"></script>
  <script src="/controllers/chartRoutes.js"></script>
  <script src="/js/createNote.js"></script>
