{{#if loggedIn}}

<div class="columns">
            <div class="column is-one-third card mr-3" style="min-height: 70vh">
                <header class="card-header is-size-2" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Today's To Dos</strong>
                </header>
                  <div class="card-content">
                  <div class="content">
                        {{#if hastoDos }}
                             {{> todo-item}}
                        {{/if}}
                              <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter to-do." id="new-todo-input">
                                </p>
                                <p class="control">
                                  <a class="button has-background-primary add" style='width: 70px' id="submit-todo-button">
                                        <img src="/images/add.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>
                  </div>
                </div>
              </div>
            <div class="column card">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                      <strong>Expansion</strong>
                </header>
                <div class="card-content">
                    <br>
                  <div class="content">
                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>


                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>
                    
                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>


                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-primary remove" style='width: 70px'>
                              <img src="/images/add.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="column card ml-3">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Progress Tracker</strong> 
                </header>
                  <div class="card-content">
                <div class="content">
                <p class="is-size-3 has-text-centered"> <strong>Congratulations!</strong> <br> You're almost there!</p>
                 <figure class="image is-256x256 is-align-items-center is-flex-wrap-wrap">
                <img src="/images/koot.png" class= "is-rounded" />
                  </figure>
                  <button class="button is-primary is-size-5 is-fullwidth has-text-dark">View Past Progress</button>
                </div>
            </div>
            </div>
          </div>
          {{/if}}

<h1 class=" is-size-1 title has-text-centered">Welcome!</h1>
<figure class="image is-3by2 is-align-items-center is-flex-wrap-wrap">
  <img class="is-rounded" src="/images/pp.jpeg" />
</figure>
<!-- <figure class="image is-align-items-center" >
  <img class=" px-5 is-rounded" src="/images/welcome.png" />
</figure>  -->

<h2 class="subtitle mt-3 is-size-3 has-text-centered">
  If you already have an account with us, <strong>log in</strong> or <strong>sign up</strong> and begin to log your life
</h2>
<div class="buttons is-centered">
  <button class="button logInButton is-size-4 is-primary is-light">Log In</button>
  <button class="button signUpButton is-size-4 is-primary is-light">Sign Up</button>
</div>
  

  <script src="/js/home.js"></script>
  <script src="/js/createTodo.js"></script>