<p>Hello World</p>

{{!-- columns layout below --}}
<div class="columns">
  <div class="column is-one-third">Today's To Do's </div>
  <div class="column">Notes:</div>
  <div class="column">Calendar</div>
</div>

