 <div class="columns">
            <div class="column is-one-third card mr-3" style="min-height: 70vh">
                <header class="card-header is-size-2" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Today's To Dos</strong>
                </header>
                  <div class="card-content">
                  <div class="content">
                    <!-- <label class="checkbox">
                        <input type="checkbox">
                        <input class="input is-primary" type="text" placeholder="Primary input">
                      </label><br> -->
                      <!-- <input  type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                            <label for="vehicle3"> <input class="input is-primary " type="text" placeholder="Primary input"></label><br><br>
                             <input type="submit" value="Submit"> -->
                             <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                    <label class="checkbox" >
                                        <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                                    </label>
                                </p>
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                                </p>
                                <p class="control">
                                  <a class="button has-background-danger remove" style='width: 70px'>
                                        <img src="public/images/remove.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>


                              <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                    <label class="checkbox" >
                                        <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                                    </label>
                                </p>
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                                </p>
                                <p class="control">
                                  <a class="button has-background-danger remove" style='width: 70px'>
                                        <img src="public/images/remove.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>
                              
                              <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                    <label class="checkbox" >
                                        <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                                    </label>
                                </p>
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                                </p>
                                <p class="control">
                                  <a class="button has-background-danger remove" style='width: 70px'>
                                        <img src="public/images/remove.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>


                              <div class="field is-flex-direction-row has-addons has-addons-centered" >
                                <p class="control">
                                    <label class="checkbox" >
                                        <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                                    </label>
                                </p>
                                <p class="control">
                                  <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter to-do.">
                                </p>
                                <p class="control">
                                  <a class="button has-background-primary add" style='width: 70px'>
                                        <img src="public/images/add.png" style="width:25px;height:25px;" />
                                  </a>
                                </p>
                              </div>
                              
           
                  </div>
                </div>
              </div>
            <div class="column card">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                      <strong>Expansion</strong>
                </header>
                <div class="card-content">
                    <br>
                  <div class="content">
                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="public/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>


                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="public/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>
                    
                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="This would be a submitted to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-danger remove" style='width: 70px'>
                              <img src="public/images/remove.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>


                    <div class="field is-flex-direction-row has-addons has-addons-centered" >
                      <p class="control">
                          <label class="checkbox" >
                              <input class="is-primary" type="checkbox" style='width: 40px; height: 40px; background-color:#edda84'>
                          </label>
                      </p>
                      <p class="control">
                        <input class="input is-flex-wrap-wrap m-0" style='max-width:100%;max-height: 40px; ' type="text" placeholder="Enter to-do.">
                      </p>
                      <p class="control">
                        <a class="button has-background-primary remove" style='width: 70px'>
                              <img src="public/images/add.png" style="width:25px;height:25px;" />
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="column card ml-3">
                <header class="card-header is-size-3" style=" background-color: #00d1b2; text-align: center;">
                    <strong>Progress Tracker</strong> 
                </header>
                  <div class="card-content">
                <div class="content">
                <p class="is-size-3 has-text-centered"> <strong>Congratulations!</strong> <br> You're almost there!</p>
                 <figure class="image is-256x256 is-align-items-center is-flex-wrap-wrap">
                <img src="public/images/koot.png" class= "is-rounded" />
                  </figure>
                </div>
            </div>
            </div>
          </div>
          