<div class="log-in">
    <h2 class="is-size-1">Log In</h2>
    {{#if loggedIn}}
    {{> logged-message}}
    {{/if}}
    <form class="login-form">
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
            <div class="form-group">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>