{{!-- Navbar below --}}

{{!-- body --}}
<div class="columns">
  <div class="column is-full">
    <h1 class="title">Settings</h1>
          <div class="field">
        <button class="button is-link" id="manage-recurring-todos" type="button">Manage Recurring To-Do Items</button>
      </div>
      <div id="todo-management" style="display: block;">
        <div id="recurring-todos-container"></div>
        {{!-- This section will be populated with recurring to-do items --}}
      </div>
    <form id="settings-form">
<div class="field"  id="day-container" style="display: none;">
        <label class="label">Days of the week</label>
        <div class="control">
          <div class="day-bubbles">
            <label><input type="checkbox" id="sunday"> Sunday</label>
            <label><input type="checkbox" id="monday"> Monday</label>
            <label><input type="checkbox" id="tuesday"> Tuesday</label>
            <label><input type="checkbox" id="wednesday"> Wednesday</label>
            <label><input type="checkbox" id="thursday"> Thursday</label>
            <label><input type="checkbox" id="friday"> Friday</label>
            <label><input type="checkbox" id="saturday"> Saturday</label>
          </div>
        </div>
      </div>
      {{!-- Add a section for managing recurring to-do items --}}

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="save-button" data-id="0" type="submit">Save Settings</button>
        </div>
      </div>
              <script src="/js/settings.js"></script>
    </form>
  </div>
</div>
