{{!-- Navbar below --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>HOME</strong>
          </a>
          <a class="button is-light">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{{!-- body --}}
<div class="columns">
  <div class="column is-one-fifth">key words</div>
  <div class="column">To Do Items</div>
  <div class="column">Frequency</div>
</div>