<div class="columns is-mobile is-centered ">
    <div class="hero column is-half">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
        <div class="column">
            <label for="name">Name</label>
            <input id="name" class="input is-primary" type="text" placeholder="Enter Name">
        </div>
        <div class="column">
            <label for="email">Email</label>
            <input id="email" class="input is-primary" type="text" placeholder="Email address">
        </div>
        <div class="column">
            <label for="Name">Password</label>
            <input id="password" class="input is-primary" type="password" placeholder="Password">
        
        </div>
        <div class="column">
            <label for="Name">Confirm Password</label>
            <input id="password1" class="input is-primary" type="password" placeholder="Password">
        
        </div>
        <div class="column">
            <button id="makeAccount" class="button is-primary is-fullwidth" type="submit">Create an account</button>
        </div>
        <div class="has-text-centered">
            <p> Already have an account?  <a href="/login" class="has-text-primary">Login</a>
            </p>
        </div>
        </div>
    </div>
    </div>
</div>