  <h1 class=" is-size-1 title has-text-centered">Welcome!</h1>

    <figure class="image is-3by2 is-align-items-center is-flex-wrap-wrap">
      <img class="is-rounded" src="../public/images/pp.jpeg" />
    </figure>
 <!-- <figure class="image is-align-items-center" >
      <img class=" px-5 is-rounded" src="../public/images/welcome.png" />
    </figure>  -->

    <h2 class="subtitle mt-3 is-size-3 has-text-centered">
      If you already have an account with us, <strong>log in</strong> or <strong>sign up</strong> and begin to log your life
    </h2>
    <div class="buttons is-centered">
      <button class="button is-size-4 is-primary is-light">Log In</button>
      <button class="button is-size-4 is-primary is-light">Sign Up</button>
    </div>
  